.section{
    height: 100vh;
    background-color: #514949;
    display: flex;
    position: relative;

}

.container{
    background-color: #fff;
    margin: auto;
    padding: 3rem;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
}
.logo{
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    padding-bottom: 3rem;
}
.logo img{
    width: 4rem;
}
.verify-form{
    margin: auto;
}
.verify-form h2{
    color: #e20088;
    font-size: 1.8rem;
    line-height: 4rem;
    font-weight: 700;
}
.verify-form p{
    font-size: 1.1rem;
    line-height: 2rem;
    color: #000;
}
.input-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1.2rem 0;
}
.input-container input{
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    border: 0.5px solid #666;
    
    
}
.input-container input::placeholder{
    font-size: large;
    text-align: center;
    transform: translateY(5px);
}
.submit-button input[type="submit"]{
    margin-top: 1rem;
background-color: #e20088;
color: #fff;
border: #e20088;
padding: 0.5rem 8rem;
border-radius: 4px;
font-size: 0.9rem;
cursor: pointer;
transition: all 0.4s ease-out;

}
.submit-button input[type="submit"]:hover{
    background-color: #b80570;
}